:root {
    background-color: #efefef;
    padding: 50px 0; /* so that the fixed-top nav doesn't overlap with body*/
    margin-bottom: 50px;
}

.container {
  width: auto;
  max-width: 80%;
  padding: 0 15px;
}

header {
    text-transform: uppercase;
    background-color: white;
}

/* degree format */
.edu-program { margin-top: 1.5rem; }
.edu-degree { font: 20px bold sans-serif; }
.edu-grad-date { font: 15px oblique grey; }
.edu-institution { font: 18px bold brown; }

/* Job descriptor format */
.exp-job h3 { display: inline; }

.footer {
    padding-top: 4rem;
    color: blue;
    background-color: #efefef;
    bottom: 0;
}
