:root {
    background-color: #efefef;
    padding: 50px 0; /* so that the fixed-top nav doesn't overlap with body*/
    margin-bottom: 50px;
}

.container {
  width: auto;
  max-width: 80%;
  padding: 0 15px;
}

header {
    text-transform: uppercase;
    background-color: white;
}

/* degree format */
.edu-program { margin-top: 1.5rem; }
.edu-degree { font: bold 20px sans-serif; }
.edu-grad-date { font: oblique 15px; color: grey; }
.edu-institution { font: bold 18px; color: brown; }

.exp-job h3 {
    margin-top: 0px;
}
.exp-job-org {
    font: bold 20px sans-serif;
}

.footer {
    background-color: #efefef;
    bottom: 0;
}
