:root {
    background-color: #efefef;
    padding-top: 50px; /* so that the fixed-top nav doesn't overlap with body*/
}

header {
    text-transform: uppercase;
    background-color: white;
}

div#about {
    background-color: #dedede;
}

div#cover {
    color: white;

    background-image: url('../img/cover.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

div#cover h1 {
    font-weight:500;
}
