:root {
    background-color: #efefef;
    padding-top: 50px; /* so that the fixed-top nav doesn't overlap with body*/
    margin-bottom: 60px;
}

.container {
  width: auto;
  max-width: 80%;
  padding: 0 15px;
}

header {
    text-transform: uppercase;
    background-color: white;
}

div#about {
    background-color: #dedede;
}

div#cover {
    color: white;

    background-image: url('../img/cover.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

div#cover h1 {
    font-weight:500;
    margin-bottom: 3rem;
}

div#cover .label { font-size: 2.4rem; }

.panel {
    background-color: #efefef;
    margin: 1rem 0.5rem;
    max-width: 32%;
    min-height: 28rem
}

.footer {
    background-color: #dedede;
    bottom: 0;
}
